<footer>
    <section>
        <span>&copy;Derechos reservados.</span>
        <span>
            <ul>
                <li>Facebook</li>
                <li>Twitter</li>
                <li>Instagram</li>
                <li>Whatsapp</li>
            </ul>
        </span>
    </section>
</footer>