<footer>
    <section>
        <span>&copy;Ningun derecho reservado tome lo que necesite.</span>
        <span>
            <ul>
                <li>Facebook: ELi Pastrana</li>
                <li>Twitter: Eli_Godzu</li>
                <li>Instagram: eli.pastrana</li>
                <li>Whatsapp: +504 89087694</li>
            </ul>
        </span>
    </section>
</footer>