<main>
      <div class="card">
          <img src="./img/eli.jpg" alt="Descripción de la imagen">
          <div class="card-text">
              <h2>Eli Moises Pastrana</h2>
              <ul>Conociementos en:
                <li>HTML</li>
                <li>Javascribs</li>
                <li>PremierePro</li>
                <li>C++</li>
                <li>Mantenimiento de equipo de computo</li>
              </ul>
          </div>
      </div>
</main>