<main>
    <div class="card">
    <img src="./img/key.jpg" alt="Descripción de la imagen" class="card-image">
    <div class="card-text">
      <h2>Keyla Yojana Ortega Cruz</h2>
      <ul>
        <h2>Cursos Realizados</h2>
        <li>Desarrollo Web</li>
        <li>Bases de Datos</li>
        <li>PremierePro</li>
        <li>C++</li>
        <li>Seguridad Informática</li>
        <li>Redes de Computadoras</li>
        <li>Programación Avanzada</li>
        <li>PremierePro</li>
        <li>Inteligencia Artificial</li>
        <li>Virtualización y Cloud Computing</li>
         <li>Gestión de Proyectos de Software</li>
        <li>Ciberseguridad</li>
        <li>DevOps</li>
        <li>Cocina Gourmet</li>
      </ul>
    </div>
  </div>
</main>